$iconic-blue: #404EED;
$black: rgb(35, 39, 42);
$white: rgb(246, 246, 246);
$max-width: 1180px;

:root {
  --horizontal-padding: 24px;
}

@media (min-width: 756px) {
  :root {
    --horizontal-padding: 40px;
  }
}