@use '../general/var';

.the-footer {
  background-color: var.$black;
  padding: 80px var(--horizontal-padding) 64px;
}

.the-footer__content {
  max-width: var.$max-width;
}

.the-footer__header {
  margin: 0 0 24px;
  font-size: 2rem;
  color: #5865f2;
}

.the-footer__pseudo-select-container {
  position: relative;
}

.the-footer__pseudo-select-activator {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.the-footer__pseudo-select-activator-flag {
  width: 24px;
  margin-right: 8px;
}

.the-footer__pseudo-select-activator-span {
  font-size: 0.875rem;
  margin-right: 8px;
  color: #fff;
}

.the-footer__pseudo-select-dropdown {
  position: absolute;
  bottom: 130%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 6px;
}
.the-footer__pseudo-select-dropdown--hidden {
  display: none;
}

.the-footer__pseudo-select-list-button {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: inherit;
  border-radius: 6px;
  border: none;
  font-size: 0.875rem;
  padding: 8px;
  font-weight: 300;
  &:hover {
    background-color: #e3e4e5;
  }
}

.the-footer__icons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.the-footer__logo {
  width: 124px;
  height: 34px;
}