@media (min-width: 682px) {
  .article-1__buttons-container {
    display: flex;
  }
  .article-1__button-1 {
    margin: 0 24px 0 0;
  }
}

@media (min-width: 756px) {
  .article-1__header,
  .article-1__paragraph {
    width: clamp(300px, 45vw, 700px);
  }
}