@use '../general/var';

.ready-to-start {
  background-color: var.$white;
  padding: 0 var(--horizontal-padding) 48px;
}

.ready-to-start__content {
  margin: auto;
  max-width: var.$max-width;
}

.ready-to-start__header {
  margin: 0 0 36px;
  font-family: Whitney, Ginto, sans-serif;
  font-size: 2rem;
  line-height: 120%;
}

@media (min-width: 756px) {
  .ready-to-start {
    background-image: url('../resources/images/main/sparkles.svg');
    background-repeat: no-repeat;
    background-position: center top 10px;
    padding-top: 48px;
    padding-bottom: 120px;
  }
  .ready-to-start__header {
    text-align: center;
  }
  .ready-to-start__button {
    margin: auto;
  }
}